/* This file will hold styles that are loaded using the same media query as the normal grid. */

#views_slideshow_cycle_main_slider-block,
.views-slideshow-controls-top {
    width: 610px;
}
.views-slideshow-controls-bottom {
    width: 300px;
}
#block-views-slider-block .views-slideshow-controls-top {
    width: 610px !important;
}