/* This file will hold styles that are loaded using the same media query as the narrow grid. */
#views_slideshow_cycle_main_slider-block,
.views-slideshow-controls-top {
    width: 440px;
}
.views-slideshow-controls-bottom {
    width: 220px;
}
#block-views-slider-block .views-slideshow-controls-top {
    width: 440px !important;
}