/* set the css for floatbox */

/*default css*/
#floatbox {
	border: thin solid silver;
	padding: 5px;
	margin: 5px;
}

/*for right side*/
.floatbox-right {
	float:right;
	width: 100px;
}

/*for left side*/
.floatbox-left {
	float:left;
	width: 100px;
}

/*for top or bottom*/
.floatbox-top{
	float: none;
}