/* This file will hold the main styles for your website. */
@charset "utf-8";

body {
    background: #fff;
    font: 12px/1.5 Lucida Grande, Helvetica, Arial, sans-serif;
    color: #333;
}
.container-12 .block .omega-grid,
.container-16 .block .omega-grid,
.container-24 .block .omega-grid {
    margin-left: 0;
    margin-right: 0;
}
#zone-branding {
    padding: 7px 0 0;
}
#zone-branding .logo-img {
    margin: 1px 7px 11px 0;
    float: left;
}
.site-name {
    margin-top: 0;
}
#page {
    background: #fff;
}
#zone-content {
    padding-top: 7px;
}
#region-content { /* for module text_resize in IE */
    line-height: 18px;
}
#region-content .region-content-inner {
    padding: 0 10px 0 0;
}
#region-header-first {
    min-height: 20px;
}
a {
    color: #f63;
    text-decoration: none;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: #f63;
    font-weight: normal;
    line-height: 1.2em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
    color: #333;
}
h1, h2, h3 {
    font-family: 'Times New Roman', Georgia, serif;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 23px;
    letter-spacing: 0.04ex;
    margin-bottom: 0.4em;
}
#region-sidebar-second h2.block-title {
    font-size: 15px;
    margin-bottom: 2px;
    letter-spacing: 0.01ex;
}
h3 {
    font-size:20px;
    line-height: 22px;
}
#zone-postscript h2.block-title {
    color: #333;
}
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited {
    color: #333;
    text-decoration: none;
}
h4 {
    font-size: 12px;
    color: #333;
    line-height: 1.5em;
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}
blockquote {
    padding: 12px 0 20px 24px;
    quotes:"\201C" "\201D";
    position: relative;
    font: italic normal 18px/20px Times New Roman, Times, serif;
}
blockquote:before {
    background: url("../images/sprite.png") no-repeat -890px -2616px;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 19px;
}
blockquote:after {
    content: url("../images/ic_quote-close.png");
    margin-left: 3px;
    position: relative;
    bottom: -11px;
}

blockquote p:last-child {
    display:inline;
}
*+html blockquote p {
    display:inline;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-both {
    clear: both;
}
.light,
a.light {
    color: #999;
}
.dark,
a.dark {
    color: #333;
}
.normal-weight {
    font-weight: normal;
}
.label-inline {
    display: inline;
}
.read-more a,
a.read-more {
    padding-left: 18px;
    background: url(../images/sprite.png) no-repeat -723px -1942px;
}
.read-more a:hover,
a.read-more:hover {
    color: #999;
    background-position: -683px -1982px;
}
.back {
    color: #f63;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding-left: 25px;
    margin: 3px 0 5px;
    background: url(../images/sprite.png) no-repeat  -930px -1733px;
}
.arrow-item {
    padding-left: 15px;
    background: url(../images/sprite.png) -770px -1896px no-repeat;
}

h1.site-name a,
h2.site-name a {
    color: #333;
    font-size: 17px;
    line-height: 42px;
}
h1#page-title {
    color: #f63;
    margin-bottom: 0.5em;
}
#block-delta-blocks-breadcrumb {
    padding: 5px 0;
}
#block-delta-blocks-breadcrumb,
#block-delta-blocks-breadcrumb * {
    text-decoration: none;
    color: #b0b0b0;
    font: 11px/1em Lucida Grande, Helvetica, Arial, sans-serif;
}
#block-delta-blocks-breadcrumb li {
    margin-right: 0;
}
#block-delta-blocks-breadcrumb .first a {
    padding-left: 0;
    background: none;
}
#block-block-5 p {
    margin-bottom: 0;
}
#zone-menu-wrapper {
    background: #ff6733; /* Old browsers */
    background-image: #ff8157; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #ff8157 0%, #ff6c3f 64%, #ff622d 65%, #ff602b 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8157), color-stop(64%,#ff6c3f), color-stop(65%,#ff622d), color-stop(100%,#ff602b)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* IE10+ */
    background-image: linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8157', endColorstr='#ff602b',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 0 2px 2px #DEDEDE;
    -moz-box-shadow: 0 0 2px 2px #DEDEDE;
    box-shadow: 0 0 2px 2px #DEDEDE;
}
.node-blogpost.node-teaser,
.views-table tr.odd,
.views-table tr.even,
.node-results li,
.group-result .panel-flexible {
    background: transparent;
    border-bottom: 1px dotted #f63;
    padding-bottom: 15px !important;
    margin-bottom: 26px !important;
}
.node.view-mode-full {
    border-bottom: 0;
}
.views-table td {
    padding: 2em 1em 1.5em 0;
}

#region-sidebar-second .block {
    margin-bottom: 35px;
}

/* //////////////////////////// search ///////////////////// */


#block-search-form {
    position: relative;
    padding: 10px;
    background: #eee;
    border: 1px solid #dedede;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 0 0 2px 2px #DEDEDE;
    -moz-box-shadow: 0 0 2px 2px #DEDEDE;
    box-shadow: 0 0 2px 2px #DEDEDE;
}
#block-search-form .custom-search-box {
    width: 100%;
}
*+html #block-search-form .custom-search-box { /* IE7 */
    width: 92%;
}
#block-search-form .form-submit {
    position: absolute;
    right: 20px;
    top: 16px;
}
#block-search-form .form-text {
    padding: 6px 10px;   
    font-size: 14px;
    line-height: 1em;
    height: auto;
    margin: 0;
}
#block-search-form .form-item-custom-search-types {
    display: block;
}
#region-content #search-form #edit-submit {
    margin-bottom: 0.8em;
}

/* //////////////////////////// slider ///////////////////// */
.slider-item-act-button {
    position: relative;
    left: 65px;
    margin-top: 2px;
}
.slider-item-act-text {
    margin-left: 177px;
    margin-top: -5px;
}
#views_slideshow_cycle_main_slider-block {
    display: none;
}
#views_slideshow_cycle_main_slider-block h3 {
    font-size: 18px;
    margin-bottom: 1px;
    white-space: nowrap;
}
#region-content {
    top: -168px;
    margin-bottom: -168px;
    min-height: 170px;
}
#zone-preface-wrapper {
    position: relative;
    top: -168px;
}
#views_slideshow_cycle_div_slider-block_0 {
    background: url(../images/slider/slider_newsletter.jpg);
}
#block-block-3 { /* newsletter box with same block in content */
    background: url(../images/slider/slider_newsletter_content.jpg);
    padding: 14px 76px 20px 0;
    height: 134px;
}
#views_slideshow_cycle_div_slider-block_0 form { /* newsletter box with same block in content */
    margin-bottom: 9px;
}
#block-block-3 h2 { /* newsletter box with same block in content */
    font-size: 18px;
    margin-bottom: 0.2em;
}
#webform-component-slider-newsletter-email {
    float: left;
    margin-right: 7px;
}
#webform-client-form-5332 #edit-submitted-newsletter-order-email {
    width: 307px;
    margin-right: 3px;
    float: left;
}
#webform-client-form-5332 #edit-actions {
    position: relative;
    bottom: 0;
    float: left;
}
#block-block-3 .content-wrapper {
    background: url(../images/sprite.png) -745px -2713px no-repeat;
    padding: 15px 20px 15px 60px;
}
#block-block-3 .block-inner {
    background: url(../images/bg_fff50.png);
    font-size: 11px;
    line-height: 16px;
}
#views_slideshow_cycle_div_slider-block_1 {
    background: url(../images/slider/slider_empfehlen.jpg);
}
#views_slideshow_cycle_div_slider-block_2 {
    background: url(../images/slider/slider_mithelfen.jpg)
}
#views_slideshow_cycle_div_slider-block_3 {
    background: url(../images/slider/slider_spenden.jpg);
}
#block-views-slider-block .views-slideshow-cycle-main-frame-row-item {
    margin: 14px 95px 20px 0;
    padding: 12px 20px;
    background: url(../images/bg_fff50.png);
    font-size: 11px;
    line-height: 16px;
}
#views_slideshow_cycle_teaser_section_slider-block,
#block-views-slider-block,
#views_slideshow_cycle_main_slider-block,
.views-slideshow-cycle-main-frame-row {
    height: 168px !important;
}
.views-slideshow-cycle-main-frame-row {
    width: 100% !important;
}
.views-content-field-slider-url a {
    font-size: 18px;
    color: #666;
    font-family: 'Times New Roman', Georgia, serif;
    line-height: 1.1em;
    font-weight: normal;
}
.active .views-content-field-slider-url a {
    color: #999;
}
.views-field-field-slider-teaserbody {
    font-size: 11px;
    line-height: 16px;
    color: #999;
}
.active .views-field-field-slider-teaserbody {
    color: #ccc;
}

#widget_pager_bottom_slider-block .active {
    left: -10px;
}

.views-field-field-slider-teaserbody p {
    line-height: 11px;
    margin-bottom: 13px;
}
#views_slideshow_cycle_main_slider-block {
    position: absolute;
    left: 0;
    top: 0;
    height: 168px !important;
}
.views-slideshow-controls-text-previous a {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -960px -3615px no-repeat;
    text-indent: -5000em;
    display: block;
    position: absolute;
    left: 6px;
    bottom: 6px;
}
.views-slideshow-controls-text-next a {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) right -3774px no-repeat;
    text-indent: -5000em;
    display: block;
    position: absolute;
    right: 6px;
    bottom: 6px;
}
#block-views-slider-block .close {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -720px -3864px no-repeat;
    cursor: pointer;
    text-indent: -5000em;
    display: block;
}
.views-slideshow-controls-top,
#views_slideshow_controls_text_pause_slider-block {
    display: none;
}
#block-views-slider-block .views-slideshow-controls-top {
    position: absolute;
    z-index: 13;
    bottom: 0;
}
.views-slideshow-controls-bottom {
    position: absolute;
    top: 9px;
    right: 0;
}
#block-views-slider-block .views-slideshow-pager-field-item {
    position: relative;
    padding-right: 38px;
}
#block-views-slider-block .item {
    position: absolute;
    right: 0;
    top: -4px;
    width: 31px;
    height: 31px;
    background: url(../images/sprite.png) no-repeat;
}
.js .views-slideshow-pager-field-item {
    cursor: pointer;   
}
#views_slideshow_pager_field_item_bottom_slider-block_0 .item {
    background-position: -965px -760px;
}
#views_slideshow_pager_field_item_bottom_slider-block_0.active .item {
    background-position: -925px -800px;
}
#views_slideshow_pager_field_item_bottom_slider-block_1 .item {
    background-position: -885px -840px;
}
#views_slideshow_pager_field_item_bottom_slider-block_1.active .item {
    background-position: -845px -880px;
}
#views_slideshow_pager_field_item_bottom_slider-block_2 .item {
    background-position: -805px -920px;
}
#views_slideshow_pager_field_item_bottom_slider-block_2.active .item {
    background-position: -765px -960px;
}
#views_slideshow_pager_field_item_bottom_slider-block_3 .item {
    background-position: -725px -1000px;
}
#views_slideshow_pager_field_item_bottom_slider-block_3.active .item {
    background-position: -685px -1040px;
}

#block-views-slider-block  a.form-submit {
    font-size: 15px;
}

#block-views-slider-block .service-links {
    width: 456px;
    height: 20px;
}
#block-views-slider-block .service-links li {
    list-style: none;
    margin-left: 12px;
    width: 20px;
    height: 20px;
}

/* //////////////////////////// taxonomy /////////////////// */

a.tagadelic {
    text-decoration: none;
    color: #666;
}
a.tagadelic.level1,
a.tagadelic.level2,
a.tagadelic.level3,
a.tagadelic.level4 {
    font-weight: normal;
}

/* //////////////////////////// pager ////////////////////// */

.item-list .pager {
    clear: both;
    text-align: center;
    font-size: 12px;
}
.item-list ul.pager {
    padding: 0;
}
#comments .item-list ul.pager {
    margin-bottom: 30px;
}
.item-list ul.pager li {
    margin: 0 3px;
}
.item-list ul.pager li a,
.item-list ul.pager li span,
.item-list ul.pager li.pager-current {
    background: #c3c3c3;
    display: inline-block;
    min-width: 25px;
    color: #fff;
    text-decoration: none;
    line-height: 25px;
    font-weight: bold;
}
*+html .item-list ul.pager li a,
*+html .item-list ul.pager li span,
*+html .item-list ul.pager li.pager-current {
    width: 25px;
    display: inline;
}
*+html .item-list ul.pager li.pager-last {
    float: right;
    margin-top: -25px;
}
.item-list ul.pager li.pager-first span,
.item-list ul.pager li.pager-last span {
    color: #999;
}
.item-list ul.pager li.pager-current,
.item-list ul.pager li a:hover {
    background: #ddd;
}
.pager-current {
    font-weight: bold;
}
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-first span,
.item-list ul.pager li.pager-first a,
.item-list ul.pager li.pager-last a,
.item-list ul.pager li.pager-last span,
.item-list ul.pager li.pager-next a {
    background: #c3c3c3 url(../images/sprite.png) no-repeat;
    text-indent: -5000em;
    display: block;
    width: 25px;
    height: 25px;
}
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-first span,
.item-list ul.pager li.pager-first a {
    float: left;
    padding-left: 36px;
}
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-first a {
    background-position: -920px -3655px;
}
.item-list ul.pager li.pager-first span,
.item-list ul.pager li.pager-first a:hover {
    background-position: -960px -3615px;
}
.item-list ul.pager li.pager-last a,
.item-list ul.pager li.pager-last span,
.item-list ul.pager li.pager-next a {
    float: right;
    padding-right: 33px;
}
.item-list ul.pager li.pager-last a,
.item-list ul.pager li.pager-next a {
    background-position: right -3815px;
}
.item-list ul.pager li.pager-last span,
.item-list ul.pager li.pager-last a:hover {
    background-position: right -3775px;
}
.item-list ul.pager li.pager-first a,
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-last a,
.item-list ul.pager li.pager-next a {
    background-color: transparent;
    color: #333;
    font-weight: normal;
    text-indent: 0;
    width: auto;
}
.item-list ul.pager li.pager-first span,
.item-list ul.pager li.pager-last span {
    background-color: transparent;
    color: #999;
    font-weight: normal;
    text-indent: 0;
    width: auto;
}

/* top anchor */
.field-name-anchor-to-top a {
    background: url("../images/sprite.png") no-repeat right -2061px;
    border-top: 1px dotted #FF6633;
    color: #999999;
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin-bottom: 27px;
    padding-right: 18px;
    text-align: right;
    font-weight: normal;
}

/* /////////////////////////// region-user-second /////////////////////////// */

#zone-user {
    position: relative;
    z-index: 140;
}
#region-user-second {
    position: absolute;
    z-index: 142;
    top: 5px;
    right: 14px;
}
#region-user-second a {
    font-size: 12px;
    color: #666 !important;
}
#region-user-second a:hover {
    color: #444 !important;
}
#region-user-second h2.block-title {
    font: 9px/21px Lucida Grande, Helvetica, Arial, sans-serif;
    color: #858585;
    padding: 0 13px 0 24px;
    border: 1px solid #fff;
    border-width: 1px 1px 0;
    position: relative;
}
#region-user-second .block:hover h2.block-title {
    z-index: 144;
    border: 1px solid #ccc;
    background-color: #fff;
    border-width: 1px 1px 0;
    margin-bottom: 0;
    
    -webkit-box-shadow: 1px -3px 2px 1px #f0f0f0;
    -moz-box-shadow: 1px -3px 2px 1px #f0f0f0;
    box-shadow: 1px -3px 2px 1px #f0f0f0;
}
#region-user-second .block {
    float: right;
    position: relative;
}
#region-user-second #block-print-print-links .content,
#region-user-second #block-text-resize-0 .content {
    right: 0;    
}
#region-user-second #block-user-login .content,
#region-user-second #block-system-user-menu .content,
#region-user-second #block-block-7 .content {
    left: 0;    
}
#region-user-second #block-print-print-links .content,
#region-user-second #block-text-resize-0 .content,
#region-user-second #block-user-login .content,
#region-user-second #block-system-user-menu .content {
    width: 190px;
    padding: 15px 0;   
}
#region-user-second #block-block-7 .content {
    width: 212px;
    min-height: 50px;
    padding: 15px 0;
}
#region-user-second #block-block-7 .content,
#region-user-second #block-text-resize-0 .content,
#region-user-second #block-user-login .content {
    padding: 15px;   
}
#region-user-second .block .content {
    position: absolute;
    right: 0;
    margin-top: -1px;
    display: none;
    z-index: 141;
    border: 1px solid #ccc;
    background: #fff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
    
    -webkit-box-shadow: 0 0 2px 2px #f0f0f0;
    -moz-box-shadow: 0 0 2px 2px #f0f0f0;
    box-shadow: 0 0 2px 2px #f0f0f0;

}
#region-user-second .block:hover .content {
    display: block;
    z-index: 143;
}
#region-user-second .block h2 {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
#region-user-second #block-user-login h2,
#region-user-second #block-system-user-menu h2 {
    background-position: -558px -416px;
}
#region-user-second #block-print-print-links h2 {
    background-position: -805px -180px;    
}
#region-user-second #block-text-resize-0 h2 {
    background-position: -722px -259px;    
}
#region-user-second #block-block-7 h2 {
    background-position: -962px -19px;    
}

#region-user-second #user-login-form {
    padding-bottom: 4em;
}
#region-user-second #user-login-form input.form-text {
    width: 100%;
}
#region-user-second #user-login-form .form-actions {
    text-align: right;
}
#region-user-second #user-login-form .item-list {
    position: absolute;
    bottom: 15px;
}


#region-user-second #block-system-user-menu .content a {
    line-height: 26px;
}
#region-user-second #block-system-user-menu .content a:hover,
#region-user-second #block-print-print-links .content a:hover {
    background-color: #d5d5d5;
    color: #444;
}

a.print-page,
a.print_mail,
a.print-pdf,
#block-system-user-menu .first a,
#block-system-user-menu .last a {
    margin-left: 0;
    display: block;
    background-image: url(../images/sprite.png);
    line-height: 26px;
}
a.print-page,
a.print_mail,
a.print-pdf {
    padding: 0 15px 0 41px;
}
#block-system-user-menu .first a,
#block-system-user-menu .last a {
    padding: 0 38px;
}
a.print-page {
    background-position: -466px -497px;
}
a.print-pdf {
    background-position: -507px -456px;
}
.print_html,
.print_mail,
.print_pdf {
    margin-left: 0;
}

#block-system-user-menu .first a {
    background-position: -251px -716px;
}
#block-system-user-menu .last a {
    background-position: -212px -757px;
}

#region-user-second #block-text-resize-0 {
    display: none;
}
.js #region-user-second #block-text-resize-0 {
    display: block;
}
a#text_resize_decrease,
a#text_resize_reset,
a#text_resize_increase {
    background: url(../images/sprite.png);
    height: 49px;
    margin: 0;
    text-indent: -9000px;
    width: 40px;
}

a#text_resize_decrease {
    background-position: -298px -647px;
}
a#text_resize_decrease:hover {
    background-position: -34px -910px;
}
a#text_resize_reset {
    background-position: -360px -598px;
    margin: 0 35px;
}
a#text_resize_reset:hover {
    background-position: -96px -861px;
}
a#text_resize_increase {
    background-position: -428px -539px;
}
a#text_resize_increase:hover {
    background-position: -164px -802px;
}

/* //////////////////////////// floatbox /////////////////// */

#floatbox {
    background: #f4f4f4;
    border: 1px solid #dedede;
    width: 270px;
    padding: 10px 15px 10px 12px;
    -webkit-box-shadow: 0 0 3px 2px #ebebeb;
    box-shadow: 0 0 3px 2px #ebebeb;        
}
#floatbox h3 {
    background: url(../images/sprite.png) -810px -2688px;
    padding-left: 20px;
    color: #333;
    font-size: 17px;
    margin-bottom: 20px;
}
#floatbox h4 {
    font-family: 'Times New Roman',Georgia,serif;
    font-size: 16px;
    margin-bottom: 0;
}
#floatbox ul {
    margin-bottom: 10px;
}
#floatbox ul.arrow-items li {
    padding: 3px 0 3px 22px;
    color: #666;
    background: url(../images/sprite.png) -763px -1894px no-repeat;
    margin-left: -7px;
}
#floatbox ul.arrow-items li a {
    color: #333;
    font-weight: normal;
    text-decoration: none;
}
#floatbox ul.arrow-items li:hover {
    background-color: #d5d5d5;
}
#floatbox.floatbox-right {
    float: right;
    margin: 4px 0 15px 20px;
}
#floatbox.floatbox-left {
    float: left;
    margin: 4px 20px 15px 0;
}

/* /////////////////////////// views /////////////////// */

.views-exposed-form .views-exposed-widget {
    float: right;
    padding: 1em 0 1.5em 1em;
}
.form-item-sort-order {
    display: none;
}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
    box-shadow: none;
}
.ctools-auto-submit-full-form {
    float: right;
}
.views-field-field-press-article-medium div {
    color: #999;
}
.view-content {
    clear: both;
}
.view-filters label {
    display: block;
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
}
.views-row {
    margin-bottom: 27px;
}
.view-filters textarea,
.view-filters select,
.view-filters input[type="text"] {
    border-color: #D3D3D3;
    font-size: 11px;
    height: 1.8em;
}

/* blog */
#view-display-id-block_1 a {
    color: 
}
.group_blog_metainformation {
    margin-bottom: 18px;
}
.view-blog .views-row {
    position: relative;
}
.view-blog .views-row #at15s {
    right: 0 !important;
}
.view-blog .field-name-title h3 {
    padding-right: 35px;
}
.view-blog .field-name-field-addthis,
.node-blogpost.node-teaser .field-name-field-addthis {
    position: absolute;
    right: 0;
    top: 0;
}
.field-name-field-blog-teaserimage {
    float: left;
    margin: 4px 14px 12px 0;
}
.field-name-field-blog-teaserimage img {
    margin-bottom: 4px;
}
.field-name-field-image-copyright {
    color: #666;
    font-size: 10px;
}
.field-name-field-blog-teaserimage img {
    outline: 1px solid #ccc;
}
.comment-count,
.field-type-taxonomy-term-reference {
    clear: both;
    padding-left: 26px;
    background: url(../images/sprite.png) no-repeat;
}
.field-type-taxonomy-term-reference {
    background-position: -969px -2534px;
    margin-bottom: 5px;
}
.pane-blog .field-type-taxonomy-term-reference {
    position: relative;
    top: 4px;
}
.comment-count {
    background-position: -929px -2574px;
}
.view-blog .views-row .comment-count {
    margin-bottom: 18px;
}
.field-type-taxonomy-term-reference li {
    float: left;
}
.comment-count,
.field-type-taxonomy-term-reference li a {
    font-weight: normal;
    color: #666;
}
.field-type-taxonomy-term-reference li a:after {
    content: ",\0000a0";
}
.field-type-taxonomy-term-reference li:last-child a:after {
    content: " ";
}
#block-views-blog-block-1 .views-row {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    background: url("../images/sprite.png") no-repeat scroll -770px -1890px transparent;
    padding-right: 20px;
}
#block-views-blog-block-1 .views-row:hover {
    background-color: #eee;
    padding-left: 21px;
    padding-right: 14px;
    background-position: -764px -1890px;
}

/* forward */
#forward-form #edit-instructions p:first-child {
    width: 100%;
    margin: 0 0 10px -10px;
    padding: 7px 10px;
    font-weight: bold;
    background: #fff url(../images/sprite.png) -518px -2964px no-repeat;
    text-indent: 27px;
    color: #333;
}
#forward-form .form-item-recipients {
    margin-bottom: 1em;
}
#forward-form #edit-page,
#forward-form #edit-subject,
#forward-form #edit-body {
    display: none;
}


/* /////////////////////////// forms /////////////////// */

form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html form {
    height: 1%;
}
:first-child + html form {
    min-height: 1%;
}
textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
a.form-submit {
    border: 1px solid #d3d3d3;
    -webkit-box-shadow: inset 0px 0px 2px 2px #ececec;
    -moz-box-shadow: inset 0px 0px 2px 2px #ececec;
    box-shadow: inset 0px 0px 2px 2px #ececec;
    color: #666;
    font-size: 12px;
    padding-left: 6px;
    height: 2.5em;
    margin-bottom: 0.8em;
    *line-height: 2.1em; /* IE6 IE7 */
    line-height: 2.1em\9; /* IE8 */
}
textarea {
    min-height: 7em;
    text-indent: 0;
    padding: 6px;
}
*+html .form-textarea-wrapper textarea { /* IE7 */
    width: 97%;
}

select {
    -webkit-box-shadow: inset 0px 0px 1px 1px #ececec;
    -moz-box-shadow: inset 0px 0px 1px 1px #ececec;
    box-shadow: inset 0px 0px 1px 1px #ececec;
}
.resizable-textarea .grippie {
    display: none;
}
.compact-form-label {
    color: #666;
    font-size: 12px;
    padding-left: 3px;
    line-height: 2.3em;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
a.form-submit {
    background: #ff6733; /* Old browsers */
    background-image: #ff8157; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #ff8157 0%, #ff6c3f 64%, #ff622d 65%, #ff602b 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8157), color-stop(64%,#ff6c3f), color-stop(65%,#ff622d), color-stop(100%,#ff602b)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* IE10+ */
    background-image: linear-gradient(top,  #ff8157 0%,#ff6c3f 64%,#ff622d 65%,#ff602b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8157', endColorstr='#ff602b',GradientType=0 ); /* IE6-9 */
    border-color: 0;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font: normal 12px/1.2 Arial,sans-serif;
    padding: 7px 10px;
    text-shadow: 0 0 0;
    vertical-align: top;
    margin-top: 1px;
    
    -webkit-box-shadow: 0 0 2px 2px #DEDEDE;
    -moz-box-shadow: 0 0 2px 2px #DEDEDE;
    box-shadow: 0 0 2px 2px #DEDEDE;
    text-decoration: none;
    letter-spacing: 1px;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
a.form-submit:hover {
    background: #ababab; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #ababab 0%, #9d9d9d 70%, #999999 70%, #999999 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ababab), color-stop(70%,#9d9d9d), color-stop(70%,#999999), color-stop(100%,#999999)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%); /* IE10+ */
    background-image: linear-gradient(top,  #ababab 0%,#9d9d9d 70%,#999999 70%,#999999 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#999999',GradientType=0 ); /* IE6-9 */

}
.views-exposed-widget button, input[type="reset"],
.views-exposed-widget input[type="submit"],
.views-exposed-widget input[type="button"],
.views-exposed-widget a.form-submit {
    font: 11px/1.2 Arial,sans-serif;
    padding: 2px 10px;
}
#section-content form.compact-form {
    position: relative;
    margin-bottom: 5em;
    padding: 12px 10px 10px 10px;
    color: #666;
}
#section-content .compact-form .form-actions {
    position: absolute;
    bottom: -40px;
    right: 0;
}

#user-register-form .description,
#user-login .description {
    margin-bottom: 1em;
    color: #999;
}
#user-register-form label,
#user-login label,
#search-form label {
    display: block;
}

/* /////////////////////////// comment-form ///////////// */

#comments {
    margin-top: 28px;
}
#comments .mandatory {
    bottom: 71px;
    color: #666666;
    position: absolute;
    right: 20px;
}
#comments a.username {
    text-decoration: none;
    color: #666;
}
#comment-form #edit-author--2 {
    margin-bottom: 16px;
    background: url(../images/sprite.png) -568px -417px no-repeat;
    padding-left: 17px;
    font-weight: bold;
}
#comment-form .description {
    color: #999;
    font-size: 11px;
    line-height: 16px;
    margin: -8px 0 6px;
}
#comment-form .form-item-field-newsletter-subscribe-und {
    margin-top: 7px;
}
#comment-form .form-text {
    width: 370px;
}

/* /////////////////////////// addthis ///////////// */

#views_slideshow_cycle_div_slider-block_1 .at300b,
#views_slideshow_cycle_div_slider-block_1 .at300m {
    display: block;
    float: left;
    width: 102px;
    color: #999;
    font-weight: normal;
}
#views_slideshow_cycle_div_slider-block_1 .addthis_button_favorites {
    clear: left;
}
.addthis_toolbox .at16nc {
    width: 23px;
}
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m {
    padding: 0;
    margin: 4px 0;
}
#views_slideshow_cycle_div_slider-block_1 .icon-share {
    padding-left: 26px;
    background: url(../images/sprite.png) -680px -1px no-repeat;
    margin: 2px 0 0 0;
}
#at16psf input, 
#at16psf input:focus {
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#block-block-7 .addthis_default_style .at300b, 
#block-block-7 .addthis_default_style .at300bo, 
#block-block-7 .addthis_default_style .at300m {
    display: block;
    font-weight: normal !important;
    font-size: 11px !important;
    height: 20px;
    margin: 4px 0 0 0;
    padding: 0;
    width: 106px;
}

/* /////////////////////////// RSS /////////////////// */

#block-delta-blocks-feed-icons .content {
    padding-left: 26px;
    background: url(../images/sprite.png) -970px -3130px no-repeat;
}
#block-delta-blocks-feed-icons .feed-link {
    display: block;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: #f63;
}

/* /////////////////////////// node footer /////////////////// */

.comment {
    margin-bottom: 28px;
}
.comment,
#section-content form.compact-form {
    background: #f4f4f4; 
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 4px 1px #ebebeb;
    -moz-box-shadow: 0px 0px 4px 1px #ebebeb;
    box-shadow: 0px 0px 4px 1px #ebebeb;
}
#section-content #block-block-3 form.compact-form { /* newsletter order */
    background: transparent; 
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 10px 0 0;
}
.comment .submitted {
    margin: 10px 0;
    background: #fff;
    padding: 5px 10px;
}
.comment .submitted .author {
    font-size: 20px;
    float: left;
    color: #333;
    padding-left: 34px;
    background: url(../images/sprite.png) -650px -2847px no-repeat;
    margin-bottom: 0;
}
.comment-reply {
    background: url(../images/sprite.png) -610px -2896px no-repeat;
    padding-left: 20px;    
}
.comment .submitted .created {
    float: right;
    line-height: 24px;
}
.comment .field-name-comment-body {
    padding: 0 10px 10px 10px;
}
.comment ul.links {
    border-top: 1px solid #fff;
    padding: 10px;
}
.links.inline a,
.submitted {
    color: #666;
    text-decoration: none;
}
.submitted {
    margin: 11px 0 19px;
}
.social_share_privacy_area {
    margin: 20px 0 11px !important;
}

/* /////////////////////////// footer /////////////////// */

#zone-postscript-wrapper {
    background: #f7f7f7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
    background-image: linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

    border-top: 1px solid #d3d3d3;
    padding: 15px 0 30px;
    margin-top: 40px;
}
#zone-postscript-wrapper h2 {
    font-family: Lucida Grande, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#zone-postscript-wrapper li {
    list-style: none;
}
#zone-postscript-wrapper a {
    font-weight: normal;
    color: #666;
    line-height: 20px;
}
#region-postscript-fourth a {
    background: url(../images/sprite.png) no-repeat;
    padding-left: 28px;
    line-height: 24px;
    display: block;
}
#region-postscript-fourth .facebook a {
    background-position: -930px -1290px;
}
#region-postscript-fourth .twitter a {
    background-position: -890px -1329px;
}
#region-postscript-fourth .google a {
    background-position: -850px -1370px;
}
#region-postscript-fourth .rss a {
    background-position: -810px -1410px;
}
#region-postscript-fourth .block-forward .content a {
    background-position: -970px -1250px;
}