@import url("/sites/all/themes/contrib/omega/alpha/css/alpha-reset.css");
@import url("global.css");
body {
    padding: 5mm;
}
* {
    color: #333 !important;
}
.views-row {
    border: 1px solid #fff;
}
.item-list ul.pager li a,
.item-list ul.pager li span,
.item-list ul.pager li.pager-current {
    color: #fff !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #222 !important;
    font-weight: normal !important;
    line-height: 1.2em !important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}
h1, h2, h3 {
    font-family: 'Times New Roman', Georgia, serif !important;
}
h1 {
    font-size: 24px !important;
}
h2 {
    font-size: 22px !important;
    letter-spacing: 0.1ex !important;
    margin-bottom: 0.5em !important;
}
h2.block-title {
    font-size: 15px !important;
    margin-bottom: 0.6em !important;
}
h3 {
    font-size: 18px !important;
}
em.placeholder {
    font-style: normal;
}
.read-more a,
.read-more a * {
    background-position: -683px -1982px;
    color: #999 !important;
}
.print-hr,
.views-exposed-form,
.pager {
    display: none;
}
.node-blogpost.node-teaser,
.views-table tr.odd,
.views-table tr.even,
.node-results li,
.group-result .panel-flexible {
    border-bottom: 1px dotted #333;
}
.print-logo {
    margin-bottom: 10px;
}
.print-site_name {
    font-weight: bold !important;
}
.print-breadcrumb {
    font-weight: bold !important;
    margin-bottom: 2em;
}