table.views-view-grid {
    width: 100%;
    margin-bottom: 30px;
}
table.views-view-grid td {
    padding: 26px 22px;
    border: 1px solid #eee;
}
table.views-view-grid td.col-first {
    border-left: 0;
}
table.views-view-grid td.col-last {
    border-right: 0;
}
table.views-view-grid .row-first td {
    border-top: 0;
}
table.views-view-grid .row-last td {
    border-bottom: 0;
}

.user-profile .field-name-field-user-fname,
.user-profile .field-name-field-user-lname {
    float: left;
}
.user-profile .field-name-field-user-fname {
    margin-right: 0.8ex;
}
.user-profile .field-name-field-user-lname:after {
    content: ",\0000a0";
}
.page-user #page-title {
    display: none;
}

#views-exposed-form-profile-list-page .form-item-field-user-lname-value {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
}
#views-exposed-form-profile-list-page .form-item-field-user-lname-value label {
    background: #c3c3c3;
    display: block;
    float: left;
    color: #fff;
    font-weight: bold;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
#views-exposed-form-profile-list-page #edit-field-user-lname-value-all + .option {
    min-width: 45px;
}
#views-exposed-form-profile-list-page .form-item-field-user-lname-value label:hover,
.form-radio:checked + .option {
    background: #f4f4f4 !important;
    color: #666 !important;
}
#views-exposed-form-profile-list-page #edit-field-user-lname-value .form-radio {
    display: none;
}
#views-exposed-form-profile-list-page .views-exposed-widget {
   clear: both;
   margin-bottom: 23px;
}