table.views-view-grid {
    width: 100%;
    margin-bottom: 30px;
}
table.views-view-grid td {
    padding: 16px 22px;
    border: 1px solid #eee;
    width: 33%;
}
table.views-view-grid td.col-first {
    border-left: 0;
}
table.views-view-grid td.col-last {
    border-right: 0;
}
table.views-view-grid .row-first td {
    border-top: 0;
}
table.views-view-grid .row-last td {
    border-bottom: 0;
}

.user-profile .field-name-field-user-fname,
.user-profile .field-name-field-user-lname {
    float: left;
}
.user-profile .field-name-field-user-fname {
    margin-right: 0.8ex;
}
.user-profile .field-name-field-user-lname:after {
    content: ",\0000a0";
}
.page-user #page-title {
    display: none;
}

.profiles-list-compact-wrapper {
    position: relative;    
}
.profiles-list-compact-wrapper .row {
    background: #fff;
    margin: 0 -12px 2px 0;
    padding: 0 12px;  
}
.col-last .profiles-list-compact-wrapper h3 {
    text-align: right;   
}
.col-last .profiles-list-compact-wrapper .row {
    margin: 0 0 2px -12px;
    text-align: right;
}
.profiles-list-compact-wrapper:hover .element-hidden {
    display: block;
    position: absolute;
    z-index: 123;
    background: url(../images/bg_eee95.png);
    top: -43px;
    left: -13px;
    width: 379px;
    padding: 12px;
    -webkit-box-shadow: 0 0 2px 2px #DEDEDE;
    -moz-box-shadow: 0 0 2px 2px #DEDEDE;
    box-shadow: 0 0 2px 2px #DEDEDE;
    border: 1px solid #dedede;
    
}
.col-last .profiles-list-compact-wrapper:hover .element-hidden {
    left: auto;
    right: 17px;
}
.profiles-list-compact-wrapper:hover .element-hidden .profile-image {
    float: left;
    margin: 0 14px 0 0;
}
.col-last .profiles-list-compact-wrapper:hover .element-hidden .profile-image {
    float: right;
    margin: 0 0 0 14px;
}


/* list */
 
.pw-list-item .pw-list-item {
    position: relative;
} 
.pw-list-item .float-left .file-image {
    margin-bottom: 0;
}
.pw-list-item .link-profile a,
.pw-list-item a.link-profile {
    position: absolute;
    right: 0; /* LTR */
    bottom: 20px;
}


/* filters */

.views-exposed-form .form-item-field-user-lname-value {
    display: block;
    float: left; /* LTR */
    margin: 0 5px 5px 0; /* LTR */
}
.views-exposed-form .form-item-field-user-lname-value label {
    background: #c3c3c3;
    display: block;
    float: left; /* LTR */
    color: #fff;
    font-weight: bold;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.views-exposed-form #edit-field-user-lname-value-all + .option {
    min-width: 45px;
}
.views-exposed-form .form-item-field-user-lname-value label:hover,
.form-radio:checked + .option {
    background: #f4f4f4 !important;
    color: #666 !important;
}
.views-exposed-form #edit-field-user-lname-value .form-radio {
    display: none;
}
.views-exposed-form .views-exposed-widget {
   clear: both;
   margin-bottom: 23px;
}