/* //////////////////////////// slider ///////////////////// */

.slider-item-act-button {
    position: relative;
    left: 65px;
    margin-top: 2px;
}
.slider-item-act-text {
    margin-left: 177px;
    margin-top: -5px;
}
#views_slideshow_cycle_main_slider-block {
    display: none;
}
#views_slideshow_cycle_main_slider-block h3 {
    font-size: 18px;
    margin-bottom: 1px;
    white-space: nowrap;
}
#region-content {
    top: -168px;
    margin-bottom: -168px;
    min-height: 170px;
}
#zone-preface-wrapper {
    position: relative;
    top: -168px;
}
#views_slideshow_cycle_div_slider-block_0 {
    background: url(/sites/all/themes/custom/abgeordnetenwatch/images/slider/slider_4.jpg);
}
#views_slideshow_cycle_div_slider-block_0 form { /* newsletter box with same block in content */
    margin-bottom: 9px;
}
#webform-component-slider-newsletter-email {
    float: left;
    margin-right: 7px;
}
#webform-client-form-5332 #edit-submitted-newsletter-order-email {
    width: 307px;
    margin-right: 3px;
    float: left;
}
#webform-client-form-5332 #edit-actions {
    position: relative;
    bottom: 0;
    float: left;
}
#views_slideshow_cycle_div_slider-block_1 {
    background: url(/sites/all/themes/custom/abgeordnetenwatch/images/slider/slider_1.jpg);
}
#views_slideshow_cycle_div_slider-block_2 {
    background: url(/sites/all/themes/custom/abgeordnetenwatch/images/slider/slider_2.jpg)
}
#views_slideshow_cycle_div_slider-block_3 {
    background: url(/sites/all/themes/custom/abgeordnetenwatch/images/slider/slider_6.jpg);
}
#block-views-slider-block .views-slideshow-cycle-main-frame-row-item {
    margin: 14px 95px 20px 0;
    padding: 12px 20px;
    background: url(../images/bg_fff50.png);
    font-size: 11px;
    line-height: 16px;
}
#views_slideshow_cycle_teaser_section_slider-block,
#block-views-slider-block,
#views_slideshow_cycle_main_slider-block,
.views-slideshow-cycle-main-frame-row {
    height: 168px !important;
}
.views-slideshow-cycle-main-frame-row {
    width: 100% !important;
}
.views-content-field-slider-url a {
    font-size: 18px;
    color: #666;
    font-family: 'Times New Roman', Georgia, serif;
    line-height: 1.1em;
    font-weight: normal;
}
.active .views-content-field-slider-url a {
    color: #999;
}
.views-field-field-slider-teaserbody {
    font-size: 11px;
    line-height: 16px;
    color: #999;
}
.active .views-field-field-slider-teaserbody {
    color: #ccc;
}

#widget_pager_bottom_slider-block .active {
    left: -10px;
}

.views-field-field-slider-teaserbody p {
    line-height: 11px;
    margin-bottom: 13px;
}
#views_slideshow_cycle_main_slider-block {
    position: absolute;
    left: 0;
    top: 0;
    height: 168px !important;
}
.views-slideshow-controls-text-previous a {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) -960px -3615px no-repeat;
    text-indent: -5000em;
    display: block;
    position: absolute;
    left: 6px;
    bottom: 6px;
}
.views-slideshow-controls-text-next a {
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) right -3774px no-repeat;
    text-indent: -5000em;
    display: block;
    position: absolute;
    right: 6px;
    bottom: 6px;
}
#block-views-slider-block .close {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -720px -3864px no-repeat;
    cursor: pointer;
    text-indent: -5000em;
    display: block;
}
.views-slideshow-controls-top,
#views_slideshow_controls_text_pause_slider-block {
    display: none;
}
#block-views-slider-block .views-slideshow-controls-top {
    position: absolute;
    z-index: 13;
    bottom: 0;
}
.views-slideshow-controls-bottom {
    position: absolute;
    top: 9px;
    right: 0;
}
#block-views-slider-block .views-slideshow-pager-field-item {
    position: relative;
    padding-right: 38px;
}
#block-views-slider-block .item {
    position: absolute;
    right: 0;
    top: -4px;
    width: 31px;
    height: 31px;
    background: url(../images/sprite.png) no-repeat;
}
.js .views-slideshow-pager-field-item {
    cursor: pointer;   
}
#views_slideshow_pager_field_item_bottom_slider-block_0 .item {
    background-position: -885px -840px;
}
#views_slideshow_pager_field_item_bottom_slider-block_0.active .item {
    background-position: -845px -880px;
}
#views_slideshow_pager_field_item_bottom_slider-block_1 .item {
    background-position: -805px -920px;
}
#views_slideshow_pager_field_item_bottom_slider-block_1.active .item {
    background-position: -765px -960px;
}
#views_slideshow_pager_field_item_bottom_slider-block_2 .item {
    background-position: -725px -1000px;
}
#views_slideshow_pager_field_item_bottom_slider-block_2.active .item {
    background-position: -685px -1040px;
}
#views_slideshow_pager_field_item_bottom_slider-block_3 .item {
    background-position: -965px -760px;
}
#views_slideshow_pager_field_item_bottom_slider-block_3.active .item {
    background-position: -925px -800px;
}

#block-views-slider-block  a.form-submit {
    font-size: 15px;
}

#block-views-slider-block .service-links {
    width: 456px;
    height: 20px;
}
#block-views-slider-block .service-links li {
    list-style: none;
    margin-left: 12px;
    width: 20px;
    height: 20px;
}